<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>artifactory-release</id>
            <username>${env.ARTIFACTORY_USR}</username>
            <password>${env.ARTIFACTORY_PSW}</password>
        </server>
        <server>
            <id>artifactory-snapshots</id>
            <username>${env.ARTIFACTORY_USR}</username>
            <password>${env.ARTIFACTORY_PSW}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>artifactory</id>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>artifactory-release</id>
                    <name>libs-release</name>
                    <url>https://corporater.jfrog.io/corporater/libs-release</url>
                </repository>
                <repository>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <id>artifactory-snapshots</id>
                    <name>libs-snapshot</name>
                    <url>https://corporater.jfrog.io/corporater/libs-snapshot</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>artifactory-release</id>
                    <name>libs-release</name>
                    <url>https://corporater.jfrog.io/corporater/libs-release</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <id>artifactory-snapshots</id>
                    <name>libs-snapshot</name>
                    <url>https://corporater.jfrog.io/corporater/libs-snapshot</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
</settings>